body {
    background-color: #18191A;
}

.color-change{
    color: ghostwhite!important;
}

#note-content-card-body{
    background: #242526;
}

hr{
    background: ghostwhite;
}

kbd{
    background-color: #fff;
    color: #212529;
}

.note-item{
    background: #242526;
}

.note-holder{
    background: #242526;
}

#info-box{
    background-color: #4E4F50;
    border: solid #242526;
}

#navbar{
    background-color: #242526;
}

#searchBox{
    background: #242526;
    color: #313131;
}

.search-result{
    background: #18191A;
}

#searchResults{
    background: #242526;
}

.page-card-body{
    background: #242526;
}

.title-holder{
    justify-content: center;
    padding: 30px;
}

tr{
    color: ghostwhite;
}

.active{
    background: #4E4F50!important;
    border-color: #484848!important;
}