.active{
    z-index: 0!important;
}

.bottom-logo{
    font-size: 3em;
}

.border{
    border-style: solid;
}

.btn-col{
    justify-content: center;
}

#color-mode{
    position: fixed;
    top: 5px;
    right: 8px;
    font-size: 1.5em;
}

.custom-btn-group{
    display: block;
    width: 10%;
}

#notesList{
    padding-top: 25px;
}

.note-logo{
    font-size: 2em;
}

.image-large{
    width: 250px;
}

.image-small{
    width: 50px;
}

.image-xl{
    height: 250px;
}

.image-xl-horizontal{
    width: 100%;
}

.link-holder{
    padding: 5px;
}

#logo{
    max-width: 100px;
    max-height: 100px;
}

#logo-holder{
    padding: 20px;
    margin: auto;
    display: block;
    text-align: center;
}

#searchBoxHolder{
    padding-bottom: 10px;
}

#searchResults{
    z-index: 1;
    position: absolute;
    background: darkgray;
    box-shadow: 1px 1px 3px grey;
    width: 350px;
}

.sub-title{
    font-weight: lighter;
    font-size: 1.3em;
}

.text-center{
    padding-bottom: 50px;
    padding-top: 50px;
}

.text-section{
    padding-bottom: 10px;
}

.page-card{
    width: 300px;
    text-align: center;
}

.page-image{
    padding-top: 10px;
    height: 100px;
}

.page-holder{
    padding: 5px;
}

#pages-holder{
    justify-content: center;
}

.title{
    font-weight: bold;
    padding-top: 5px;
}