body {
    background-color: #18191A!important;
}

#color-mode{
    color: ghostwhite;
}

hr{
    background: ghostwhite;
}

.note-item{
    background: #242526!important;
    color: ghostwhite!important;
}

.info-holder{
    background: #242526;
    color: ghostwhite;
}

.link-holder{
    text-decoration: none!important;
    color: ghostwhite;
}

#navbar{
    background-color: #242526!important;
}

#searchBox{
    background: #242526;
    color: #313131;
}

.search-result{
    background: #18191A!important;
}

#searchResults{
    background: #242526;
}

.page-card-body{
    background: #242526;
    color: ghostwhite;
}

.title-holder{
    justify-content: center;
    padding: 30px;
    color: ghostwhite;
}

tr{
    color: ghostwhite;
}