body{
    background-color: #fafafa!important;
}

#color-mode{
    color: black;
}

.info-holder{
    background: #e8f1f5;
}

.link-holder{
    text-decoration: none!important;
    color: black;
}

#navbar{
    background-color: #e8f1f5!important;
}

#searchResults{
    background: #e8f1f5;
}

.page-card-body{
    background: ghostwhite;
}

.title-holder{
    justify-content: center;
    padding: 30px;
}