<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node.JS Wisdom</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row" style="padding: 20px">
            <img src="images/nodejs.svg" alt="Node JS logo" style="width: 100px; padding-right: 10px">
            <h1 class="font-weight-bold">Wisdom</h1>
        </div>

        <div class="row">
            <div class="col-4">
                <ul class="list-group list-group-flush" id="wisdomsList"></ul>
            </div>
            <div class="col-8">
                <h2 id="wisdomTitle"></h2>
                <p id="wisdomBody"></p>
                <br>
                <h5>Links:</h5>
                <ul id="wisdomLinkList" style="padding-bottom: 50px"></ul>
            </div>
        </div>
    </div>


    <script>
        function getWisdoms(){
            $.ajax({
                method: "GET",
                url: "http://<%= ip %>/api/wisdoms"
            }).done(function (data){
                for(let i = 0; i < data.length; i++){
                    appendWisdom(data[i]);
                }
                specificWisdom(data[5].title);
            });
        }

        function appendWisdom(wisdom){
            $("#wisdomsList").append('<div><span class="list-group-item list-group-item-action" onclick="specificWisdom(' + "'" + wisdom.title + "'" + ')">' + wisdom.title + '</span></div>');
        }

        function specificWisdom(id){
            $.ajax({
                method: "GET",
                url: "http://<%= ip %>/api/wisdoms/" + id
            }).done(function (data){
                const title = $("#wisdomTitle");
                const linkList = $("#wisdomLinkList");
                const body = $("#wisdomBody");

                $(document).prop('title', 'Node.JS Wisdom - ' + data.title);

                title.text(data.title);

                linkList.html('');
                for(let i = 0; i < data.links.length; i++){
                    const link = data.links[i];
                    linkList.append('<li><a target="_blank" href="' + link.link + '">' + link.description + '</a></li>');
                }

                body.html(data.body);
            });
        }

        getWisdoms();
    </script>
</body>
</html>