.code-block{
    background: #cbf3f3;
    padding-left: 10px;
    padding-bottom: 5px;
}

#wisdomsList{
    padding-top: 25px;
}

#searchBoxHolder{
    padding-bottom: 10px;
}

#logo{
    width: 100px;
}

#logo-holder{
    padding: 20px;
    margin: auto;
    display: block;
    text-align: center;
}

#bottom{
    padding-bottom: 50px;
    padding-top: 50px;
}

.image-xl{
    height: 250px;
    border-style: solid;
}

.image-large{
    width: 250px;
}

.image-small{
    width: 50px;
}

.info-holder{
    background: ghostwhite;
}

.text-section{
    padding-bottom: 10px;
}

.title{
    font-weight: bold;
    padding-top: 5px;
}

.sub-title{
    font-weight: lighter;
    font-size: 20px;
}